@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans.woff') format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Semibold.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Semibold.woff') format("woff")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Exo2'
  src: url('../fonts/Exo2/Exo2-Bold.woff2') format("woff2"), url('../fonts/Exo2/Exo2-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Exo2'
  src: url('../fonts/Exo2/Exo2-Regular.woff2') format("woff2"), url('../fonts/Exo2/Exo2-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Exo2'
  src: url('../fonts/Exo2/Exo2-Light.woff2') format("woff2"), url('../fonts/Exo2/Exo2-Light.woff') format("woff")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?tar5cd')
  src: url('../fonts/icomoon/icomoon.eot?tar5cd#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?tar5cd') format("truetype"), url('../fonts/icomoon/icomoon.woff?tar5cd') format("woff"), url('../fonts/icomoon/icomoon.svg?tar5cd#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' 
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

.icon-cart:before
  content: "\e902"

.icon-fire:before
  content: "\e904"


.icon-handfree:before
  content: "\e905"


.icon-link:before
  content: "\e906"

.icon-list:before
  content: "\e907"


.icon-mail:before
  content: "\e908"


.icon-marker:before
  content: "\e909"


.icon-minus:before
  content: "\e90a"
  color: #fff

.icon-next:before
  content: "\e90b"


.icon-plus:before
  content: "\e90c"
  color: #fff

.icon-prev:before
  content: "\e90d"


.icon-ruble:before
  content: "\e90e"

.icon-snowflake:before
  content: "\e90f"


.icon-tile:before
  content: "\e916"


.icon-wintership:before
  content: "\e917"
