@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------


.container
	width: auto
	max-width: 1392px

.header
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12)
	
	&-top
		display: flex
		align-items: center
		justify-content: space-between
		padding: 15px 0
		border-bottom: 1px solid #EBEBEB

		&__address
			display: flex

			&--item
				position: relative
				margin-right: 30px
				padding-left: 23px
				font-size: 14px
				line-height: 16px
				
				&::before
					content: '\e909'
					position: absolute
					left: 0
					top: 0
					font-family: 'icomoon'
					font-size: 18px
					line-height: 20px
					color: $red


				strong
					display: block
					margin-bottom: 4px

				span
					color: #333

		&__right
			display: flex

		&__time
			position: relative
			padding: 0 0 0 22px
			font-size: 14px
			line-height: 16px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 14px
				height: 14px
				border-radius: 50%
				border: 1px solid #18BB6C

			&::after
				content: ''
				position: absolute
				left: 4px
				top: 4px
				width: 6px
				height: 6px
				border-radius: 50%
				background: #18BB6C

			strong
				display: block
				margin-bottom: 4px

			span
				color: #333

		&__tel
			position: relative
			margin-left: 80px
			padding: 0 0 0 26px
			font-size: 14px
			line-height: 16px

			&::before
				content: '\e905'
				position: absolute
				left: 0
				top: 0
				font-family: 'icomoon'
				font-size: 18px
				line-height: 18px
				color: #1E71F3

			a
				display: block
				font-weight: bold
				margin-bottom: 4px

			span
				color: #333




	&-nav
		display: flex
		align-items: center
		justify-content: space-between

	&-cart
		height: 60px
		display: flex
		align-items: center
		background: #F5F5F5
		border-radius: 6px

		&__price
			position: relative
			display: flex
			align-items: center
			height: 100%
			padding-left: 68px
			padding-right: 10px
			line-height: 20px
			text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.75)
			color: $red
			font-weight: bold
			border-right: 1px solid #E5E5E5

			&::before
				content: ''
				position: absolute
				left: 16px
				top: 10px
				width: 40px
				height: 40px
				background: url(../img/shopping-cart.svg)

		&__count
			padding-left: 10px
			padding-right: 14px
			color: #4D4D4D
			text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.75)

	


.main-menu
	display: flex
	justify-content: space-between
	list-style: none
	font-family: Exo2

	>li
		display: inline-block
		margin-left: 5px

		&:last-child
			margin-left: 0

		

		>a
			position: relative
			display: block
			padding: 28px 17px
			font-weight: bold
			font-size: 16px
			line-height: 24px

			&::after
				content: ''
				position: absolute
				opacity: 0
				left: 0
				right: 0
				bottom: 0
				width: 100%
				height: 4px
				border-radius: 5px 5px 0px 0px
				background: $red
				transform: translate(0, -10px)
				transition: all .3s



			&:hover, &.active
				background: linear-gradient(180deg, rgba(250, 250, 250, 0.5) 0%, #FAFAFA 100%)
				opacity: 1

				&::after
					opacity: 1
					transform: translate(0)

			&.main-menu__promotions
				position: relative
				padding-left: 48px
				padding-right: 36px

				span
					position: absolute
					right: 18px
					top: 22px
					width: 18px
					height: 18px
					display: flex
					align-content: center
					justify-content: center
					background: $red
					border-radius: 50%
					font-size: 12px
					line-height: 17px
					font-weight: bold
					color: #fff

				&::before
					content: ''
					position: absolute
					left: 10px
					top: 22px
					width: 30px
					height: 30px
					background: url(../img/gift.png)

				


		&.dropdown
			position: relative


			>a
				position: relative
				padding-right: 32px

				&::before
					content: ''
					position: absolute
					right: 15px
					top: 45%
					width: 8px
					height: 8px
					border-bottom: 2px solid #808080
					border-left: 2px solid #808080
					transform: rotate(-45deg)
					transition: all .3s

				&:hover, &.active
					&::before
						transform: rotate(135deg)
						border-color: #000
						top: 49%



			
		.dropdown-menu
			display: none
			list-style: none
			position: absolute
			left: 0
			top: calc(100%)
			min-width: 270px
			padding: 20px 0
			background: #fff
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12)
			border-radius: 0 6px 6px 6px
			z-index: 10

			>li
				position: relative
				
				&:last-child
					margin-bottom: 0

				>a
					display: flex
					padding: 11px 20px
					font-size: 16px
					font-weight: normal
					line-height: 18px
					font-family: Exo2

					strong
						&::before
							content: ''
							position: absolute
							left: 0
							top: 0
							right: 0
							border-top: 1px solid #EBEBEB







.mm-spn--open
	>div
		margin: 20px 15px 20px
		padding-left: 25px

		>a, span
			padding: 0




.visible-m
	display: none


.slick-slide
	outline: none

.content
	min-height: calc(100vh - 434px)

	&-wrap
		display: flex
		justify-content: space-between

	&-inner
		width: calc(100% - 318px)
		padding-left: 30px

		.catalog-item__img
			width: 130px
			text-align: right

			img
				display: inline-block
				margin: 5px auto

		.catalog-item__season span
			display: none

		.catalog-item 
			> div
				padding: 0 10px

			.btn-cart
				padding-right: 62px
				padding-left: 30px

			&.catalog-item__header

				>div
					padding-top: 9px
					padding-bottom: 9px

		.catalog-item__gift
			padding: 7px 7px 5px 58px

			span
				font-size: 8px
			&::before 
				top: -8px
				width: 48px
				height: 38px
				background: url(../img/catalog-gift.png) no-repeat
				background-size: contain


.sidebar
	width: 318px

	&-header
		display: flex
		align-items: center
		justify-content: center
		min-height: 60px
		padding: 0 6px
		margin-bottom: 6px
		border: 1px solid #DDDDDD
		border-radius: 6px

	&-item
		margin-bottom: 20px
		padding: 20px
		background: #FAFAFA
		border-radius: 6px

		.selection-form
			padding: 0

		&__header
			margin-bottom: 10px
			font-weight: 600

		.btn
			width: 100%

.tabs

	&-nav
		display: flex
		justify-content: space-between
		width: 100%
		list-style: none


		li

			a
				display: flex
				align-items: center
				justify-content: center
				width: 139px
				height: 48px
				background: #FAFAFA
				border-radius: 3px
				font-weight: bold
				font-size: 14px
				line-height: 20px
				color: #000


				&.active
					color: #fff
					background: linear-gradient(180deg, #FC9450 0%, #D73514 100%), #000000



	&-wrap
		padding: 20px
		background: #FAFAFA
		border-radius: 6px


	&-item
		display: none

		&.active
			display: block

		.h5
			margin-bottom: 20px

		.selection-form
			padding: 0

#slider-range
	margin: 0 auto 20px
	width: auto

.amount-wrapper
	position: relative
	margin: 0 0 15px
	input
		display: inline-block
		width: 130px
		height: 50px
		padding-left: 14px
		line-height: 50px
		outline: none
		font-size: 16px
		color: #999999
		border-radius: 6px
		border: 1px solid #ECECEC


	.ui-widget-header
		border: none
		background: #000

.ui-widget-content
	height: 7px
	border-radius: 12px
	background: #C4C4C4
	border: none

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	border: none
	width: 14px
	height: 14px
	border: 2px solid $red
	border-radius: 50%
	background: #fff

.ui-slider-horizontal
	.ui-slider-range
		height: 7px
		border-radius: 0
		background: #F8B925
	.ui-slider-handle
		outline: none
		top: -4px
		margin-left: -.7em
		cursor: pointer








.home

	&-catalog
		margin-top: 80px



		&__item
			position: relative
			display: flex
			padding: 15px 20px
			margin-bottom: 44px
			height: 168px
			background: #E9EEF0
			border-radius: 5px


			&:hover
				transform: scale(1.1)
				background: #F8B925
				opacity: 1
				box-shadow: 0px 15px 40px rgba(58, 67, 73, 0.2)

			span
				font-weight: bold
				line-height: 20px

			img
				position: absolute
				right: 0
				bottom: 0

		&__small

			.home-catalog__item
				height: 80px
				justify-content: flex-end
				align-items: center

				img
					left: 0
					right: auto


.align-bottom
	align-items: flex-end

.icon-racing
	display: inline-block
	width: 20px
	height: 20px
	background: url(../img/racing.svg)

.btn
	display: inline-block
	padding: 15px 40px
	font-family: Exo2
	font-weight: 800
	font-size: 14px
	line-height: 20px
	letter-spacing: 0.08em
	text-transform: uppercase
	color: #fff
	background: linear-gradient(180deg, #FC9450 0%, #D73514 100%)
	box-shadow: 0px 3px 0px #BD2111, inset 0px 0px 5px rgba(255, 255, 255, 0.5)
	border-radius: 54px
	outline: none
	transition: all .3s
	text-align: center
	cursor: pointer



	&:hover, &:focus
		opacity: 1
		color: #fff
		background: linear-gradient(180deg, #FC9450 0%, #D73514 100%)
		box-shadow: 0px 3px 0px #BD2111, inset 0px 0px 20px rgba(255, 255, 255, 0.5)

	&:active
		background: linear-gradient(180deg, #FC9450 0%, #D73514 100%)
		box-shadow: 0px 1px 0px #BD2111

	.icon-racing
		margin-left: 10px
		vertical-align: bottom

	&-cart
		position: relative
		padding-right: 72px
		font-family: Exo2
		font-style: normal
		font-weight: normal
		font-size: 14px
		line-height: 20px
		letter-spacing: 0.08em
		text-transform: uppercase
		color: #000
		background: #fff
		border: none
		box-shadow: none

		&::before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			border: 2px solid #E5E5E5
			border-radius: 54px

		&::after
			content: '\e902'
			position: absolute
			right: 40px
			top: 14px
			font-size: 20px
			color: #000
			font-family: icomoon
			transition: all .3s

		&:hover, &:focus
			border-color: #fff
			color: #fff
			background: linear-gradient(180deg, #FC9450 0%, #D73514 100%)
			box-shadow: 0px 3px 0px #BD2111, inset 0px 0px 5px rgba(255, 255, 255, 0.5)

			&::after
				color: #fff

			&::before
				display: none

	&-yellow
		background: #F8B925
		color: #000
		box-shadow: none
		outline: none
		border: none

		&:hover, &:focus
			background: #FFC52F
			box-shadow: none
			color: #000

		&:active
			background: #EAAA14
			box-shadow: none






.check-item
	list-style: none

	input[type="checkbox"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0 0 0 28px
			cursor: pointer
			font-size: 11px
			line-height: 16px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 2px
				width: 18px
				height: 18px
				display: flex
				align-items: center
				justify-content: center
				background-color: #fff
				border-radius: 2px
				background: #ccc

		&:checked
			&+label
				&::before
					background-image: url(../img/check.svg)
					background-repeat: no-repeat
					background-position: center



		
.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #000
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)





select
	display: none



.jq-selectbox
	position: relative
	width: 100%
			
	.jq-selectbox__select-text
		position: relative
		padding: 14px 30px 14px 14px
		width: 100%
		border: 1px solid #ECECEC
		border-radius: 6px
		font-size: 16px
		color: #999


		&::after
			content: ''
			position: absolute
			right: 15px
			top: 45%
			width: 8px
			height: 8px
			border-bottom: 2px solid #808080
			border-left: 2px solid #808080
			transform: rotate(-45deg)
			transition: all .3s


	&.opened
		.jq-selectbox__select-text
			border-color: #333
			color: #000
			&::after
				transform: rotate(135deg)
				border-color: #000

	&.changed
		.jq-selectbox__select-text
			color: #000

	.jq-selectbox__dropdown
		position: absolute
		top: 56px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			padding: 10px 0
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #F7F9FA
			border: 1px solid #CCCCCC
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08)
			border-radius: 6px
			li
				padding: 10px 20px
				font-size: 14px
				line-height: 19px
				color: #000
				transition: all .3s

				&:hover
					background: #fff


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #F5F5F5


			&::-webkit-scrollbar
				width: 10px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #CCCCCC



.selection

	&-form
		padding: 32px
		background: #FAFAFA
		border-radius: 6px
		
		.h2
			margin-bottom: 5px

		&__subtitle
			margin-bottom: 20px
			font-family: Exo2
			font-weight: bold
			font-size: 24px
			line-height: 24px
			color: #808080

		.btn
			width: 100%


.form

	&-item
		margin-bottom: 20px

		textarea
			width: 100%
			max-width: 600px
			height: 280px
			padding: 18px
			border: 1px solid #ECECEC
			border-radius: 6px
			outline: none
			resize: none


		label
			display: block
			margin-bottom: 10px
			font-size: 16px
			font-weight: 600

		&.error
			position: relative

			.form-field
				position: relative
				border: 2px solid $red

			&::before
				content: ''
				position: absolute
				right: 15px
				bottom: 15px
				width: 20px
				height: 20px
				background: url(../img/error.svg)
				z-index: 10

			.error-message
				position: absolute
				left: 15px
				bottom: -20px
				font-size: 12px
				line-height: 16px
				color: $red


				
		&.valid
			position: relative
			.form-field
				position: relative
				border-color: #18BB6C

			&::before
				content: ''
				position: absolute
				right: 15px
				bottom: 15px
				width: 20px
				height: 20px
				background: url(../img/valid.svg)
				z-index: 10

	&-field
		width: 100%
		height: 50px
		padding: 0 18px
		line-height: 50px
		color: #000
		border: 1px solid #ECECEC
		outline: none
		border-radius: 6px

		&:hover
			border-color: #BABABA
			opacity: 1

		&:focus
			border-color: #F8B925

			::-webkit-input-placeholder
				font-size: 10px

.cart
	display: flex

	&-block
		width: calc(100% - 318px)
		padding-right: 30px

	&-wrap
		padding-top: 25px

		&+.cart-wrap
			border-top: 1px solid #EBEBEB

	&-item
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		padding-right: 50px
		margin-bottom: 15px
		border: 1px solid #E6E6E6
		border-radius: 6px

		&.active
			margin-bottom: 25px
			border-color: #F8B925
			background: linear-gradient(90deg, #F0F3F5 0%, #FAFAFA 100%)

		&__img
			padding: 14px
			height: 124px
			width: 124px
			display: flex
			align-items: center
			justify-content: center

			img
				max-height: 100%

		&__name
			width: 30%
			font-weight: 600

		&__price
			width: 100px
			text-align: right
			font-size: 20px
			font-weight: bold

		&__total
			width: 100px
			font-size: 20px
			font-weight: bold
			text-align: right


		&__btn
			width: 200px

		&__del
			position: absolute
			width: 26px
			height: 26px
			padding: 0
			align-items: center
			justify-content: center
			border: none
			outline: none
			background-color: transparent
			right: 10px
			top: 10px

			&:hover
				opacity: 1
				.icon-cross
					&::before, &:after
						background: #000

	&-total
		width: 318px
		height: 100%
		padding: 25px
		background: linear-gradient(90deg, #FAFAFA 0%, #F0F3F5 100%), #FAFAFA
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1)
		border-radius: 6px

		&__header
			display: flex
			justify-content: space-between
			padding-bottom: 15px
			border-bottom: 1px solid #EBEBEB
			font-size: 24px
			line-height: 32px

		&__list
			padding: 15px 30px
			list-style: none
			border-top: 1px solid #fff

			li
				display: flex
				justify-content: space-between
				margin-bottom: 5px
				font-family: Exo2
				font-size: 16px
				line-height: 22px

		.btn
			width: 100%

		&__bottom
			padding-top: 30px
			font-size: 14px
			line-height: 18px
			color: #333333			




.order

	&-item
		margin-bottom: 60px

		.h3
			margin-bottom: 30px
			color: #808080

		.form-item
			margin-bottom: 20px

		&__contacts
			max-width: 318px

		&__radio
			margin-bottom: 30px

			.radio-list

				li
					padding: 0
					vertical-align: top

				input[type="radio"] + label
					width: 202px
					height: 70px
					padding-left: 40px
					display: flex
					align-items: center
					border: 1px solid #D9D9D9
					border-radius: 6px

					&::before
						top: 23px
						left: 10px


				input[type="radio"]:checked + label
					background: #FFF9EB
					border: 1px solid #F8B925

					&::after
						top: 28px
						left: 15px

		&__company
			display: flex

			.form-item
				max-width: 318px
				width: 100%
				margin-right: 30px

		&__delivery
			.form-item
				max-width: 318px

	&-bottom
		display: flex

		.btn
			margin-right: 40px




.terms
	font-size: 14px
	line-height: 18px

	a
		color: $red
		text-decoration: underline

.check-item
	list-style: none

	input[type="checkbox"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0 0 0 28px
			cursor: pointer

			&::before
				content: ''
				position: absolute
				left: 0
				top: 2px
				width: 20px
				height: 20px
				display: flex
				align-items: center
				justify-content: center
				border-radius: 3px
				background: #F8B925

		&:checked
			&+label
				&::before
					background-image: url(../img/check.svg)
					background-repeat: no-repeat
					background-position: center


.attach__item


	&:last-of-type
		margin-bottom: 0px
		border-bottom: none

.attach__up
	position: relative
	padding: 15px 56px 15px 26px
	display: inline-block
	font-family: Exo2
	font-weight: 800
	font-size: 14px
	line-height: 20px
	letter-spacing: 0.08em
	text-transform: uppercase
	background: #F8B925
	color: #000
	box-shadow: none
	outline: none
	border: none
	border-radius: 50px

	&::after
		content: '\e906'
		font-size: 18px
		color: #000
		position: absolute
		right: 26px
		top: 15px
		font-family: icomoon

.attach__edit, .attach__delete
	display: none
	margin-right: 10px
	cursor: pointer

.attach__edit
	color: #2f7dfe
	

.attach__delete
	color: #f00

.attach__item--attached
	width: 50%
	margin-bottom: 10px
	.attach__up
		display: none
	.attach__delete
		position: relative
		top: 3px
		display: inline-block
		vertical-align: middle



.attach__input
	display: none

.attach__name
	display: inline-block
	vertical-align: middle
	color: #000














.promocode
	display: flex
	align-items: flex-end
	margin-bottom: 30px

	.form-item
		max-width: 318px
		width: 100%
		margin-bottom: 0
		margin-right: 15px

	.btn
		width: 230px



.icon-cross
	position: relative
	display: inline-block
	width: 20px
	height: 20px

	&::before, &::after
		content: ''
		position: absolute
		top: 10px
		left: 0
		right: 0
		width: 20px
		height: 2px
		background: #D9D9D9
		transform: rotate(45deg)
		transition: all .3s

	&::after
		transform: rotate(-45deg)


.footer
	margin-top: 50px
	background: #2A2E36
	color: #fff

	&-links
		padding: 50px 0

		&__item
			list-style: none

			li
				margin-bottom: 12px

				a
					color: #fff
					line-height: 22px


	&-bottom
		padding: 15px 0
		background: #1F2228
		font-size: 14px
		line-height: 19px

		


		&__wrap
			display: flex
			justify-content: space-between
			align-items: center

			>a
				position: relative
				color: #fff

				&::before
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: -2px
					border-bottom: 1px dashed

		&__dev
			display: flex
			color: #7C8294

			span
				padding-right: 10px


.breadcrumbs
	margin: 30px 0 10px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 16px
		line-height: 22px
		color: #999

		+ li::before
			content: "—"
			padding: 0 10px 0 8px
			font-size: 16px
			line-height: 22px

		a
			position: relative
			font-weight: 300
			color: #999




.product
	margin-bottom: 80px

	&__img-info
		display: flex
		flex-wrap: wrap
		padding: 20px 0 50px

	&-filters
		padding: 28px 24px
		margin-bottom: 25px
		background: #FAFAFA
		border-radius: 6px

		&__form
			display: flex
			align-items: flex-end
			justify-content: space-between

			.form-item
				width: 16%
				margin-bottom: 0


				font-weight: 600


	&-models
		padding-bottom: 20px

		&__info
			padding: 20px
			background: #FAFAFA
			border: 1px solid #F1F1F1

			p
				font-size: 14px
				line-height: 28px

		&__item


		&__header
			margin-bottom: 30px
			padding: 17px 30px
			background: #545C6B
			border-radius: 6px
			font-size: 18px
			line-height: 26px
			color: #fff
			text-align: center

		&__block
			margin-bottom: 30px

			&--header
				margin-bottom: 10px

				strong
					font-size: 20px
					line-height: 26px

				span
					display: inline-block
					padding-left: 5px
					font-size: 16px
					line-height: 24px
					color: #666

			&--wrap
				display: flex
				justify-content: space-between

			&--item
				position: relative
				width: 48%
				padding: 10px 20px
				min-height: 50px
				display: flex
				align-items: center
				background: #E9EEF0
				border-radius: 64px

				&::before
					content: '\e906'
					position: absolute
					right: 12px
					top: 16px
					font-family: icomoon
					font-size: 16px


				&:hover, &:focus
					background: #F8B925
					opacity: 1

				strong
					padding-right: 25px

	&-img
		width: 434px


	&-info
		width: calc(100% - 434px)
		padding-left: 30px

	&-slider
		margin-bottom: 20px
		border: 1px solid #E6E6E6
		border-radius: 6px



		&__item, &.slick-initialized .slick-slide

			height: 452px
			display: flex
			align-items: center
			justify-content: center
			outline: none

			

			img
				max-height: 100%

		

		&__nav
			
			width: calc(100% - 60px)
			margin: 0 auto

			&--item
				position: relative
				margin-left: 5px
				margin-right: 5px
				padding: 8px 0
				cursor: pointer
				outline: none
				border: 1px solid #E6E6E6
				border-radius: 6px

				&.slick-current
					border-color: #B3B3B3

				img
					margin: 0 auto
					max-height: 100%

			.slick-arrow
				width: 12px
				height: 42px



				&:before
					content: ''
					width: 20px
					height: 20px
					font-size: 18px
					color: #000
					font-family: icomoon
					opacity: 1
					transition: all .3s

				&:hover, &:focus
					&:before
						opacity: 1
						color: $red

			.slick-prev
				left: -30px
				
				&::before
					content: '\e90d'

			.slick-next
				right: -30px
				
				&::before
					content: '\e90b'

	&-info

		&__top
			margin-bottom: 30px
			display: flex
			align-items: flex-end

			.btn-cart
				background: linear-gradient(180deg, #FC9450 0%, #D73514 100%)
				box-shadow: 0px 3px 0px #BD2111, inset 0px 0px 5px rgba(255, 255, 255, 0.5)
				color: #fff

				&::before
					display: none

				&::after
					color: #fff

				&:hover
					background: linear-gradient(180deg, #FC9450 0%, #D73514 100%)
					box-shadow: 0px 3px 0px #BD2111, inset 0px 0px 20px rgba(255, 255, 255, 0.5)		

		&__price
			
			padding-right: 30px
			text-align: right

			&--old
				position: relative
				display: inline-block
				color: #4C4C4C
				font-size: 26px

				&::before
					content: ''
					position: absolute
					left: 0
					right: 0
					top: 50%
					height: 1px
					background: $red



			&--current
				font-size: 40px
				line-height: 42px
				font-weight: bold
				color: $red


		&__share
			display: flex
			margin-bottom: 40px

			.catalog-item__gift
				margin: 0 30px 0 0

		&__sale
			padding: 8px 30px 8px 74px
			background: $red
			position: relative
			border-radius: 6px

			&::before
				content: ''
				position: absolute
				bottom: 4px
				left: 20px
				width: 47px
				height: 47px
				background: url(../img/fire.png)

			strong
				font-weight: 900
				font-family: Exo2
				font-style: italic
				font-size: 16px
				line-height: 18px
				letter-spacing: 0.04em
				text-transform: uppercase
				color: #FFFFFF
				text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.25)

		&__specifications
			display: flex
			background: #FAFAFA
			border-radius: 0px 6px 6px 6px

	&-specifications
		padding: 30px 50px
		width: 50%

		&:first-child
			border-right: 1px solid #E5E5E5

		&:last-child
			border-left: 1px solid #fff


		.h4
			margin-bottom: 15px

		&__list
			list-style: none
			

			li
				display: flex
				justify-content: space-between
				margin-bottom: 10px
				line-height: 28px

				span
					color: #1A1A1A

				strong

	&-content
		display: flex

		&__sidebar
			width: 318px

	&-description
		width: calc(100% - 318px)
		padding-right: 30px

		&__header
			display: inline-block
			padding: 12px 54px
			font-family: Exo2
			font-weight: bold
			font-size: 20px
			line-height: 24px
			color: #272727
			background: linear-gradient(360deg, #FAFAFA 0%, #F0F3F5 100%)
			border-radius: 6px 6px 0px 0px

		&__body
			position: relative
			padding: 50px
			max-height: 550px
			overflow: hidden
			background: #FAFAFA
			border-radius: 0px 6px 6px 6px

			&.active
				max-height: none
				overflow: visible
				&::before
					display: none

			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 0
				height: 340px
				background: linear-gradient(180deg, rgba(250, 250, 250, 0) 26.15%, #FAFAFA 86.15%)
				border-radius: 6px
			p
				margin-bottom: 30px
				line-height: 30px

			.btn
				position: absolute
				bottom: 34px
				left: 0
				right: 0
				margin: 0 auto

	&-related

		.h3
			margin-bottom: 16px

		.catalog-item > div:last-child, .catalog-item > div:first-child
			border: none

		.catalog-item
			display: flex
			align-items: center
			margin-bottom: 15px
			border: 1px solid #E6E6E6
			border-radius: 6px

			>div
				display: block
				padding-left: 0
				padding-right: 0

		.catalog-item__price
			margin-top: 8px

		.catalog-item__img
			width: 110px
			padding: 12px 0
			border: none

			.icon-snowflake
				font-size: 18px
				color: #80C7EA

			.icon-studded
				width: 18px
				height: 18px
				background-size: contain

		.catalog-item__info
			width: calc(100% - 110px)






















.grey-bg
	background: #F0F3F5




.radio-list
	list-style: none

	li
		display: inline-block
		padding: 10px 0
		margin-right: 40px

	input[type="radio"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0 0 0 30px
			cursor: pointer
			font-weight: 600
			font-size: 16px
			line-height: 20px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 20px
				height: 20px
				border: 2px solid #F8B925
				border-radius: 50%

		&:checked
			&+label
				&::after
					content: ''
					position: absolute
					left: 5px
					top: 5px
					width: 10px
					height: 10px
					background: #F8B925
					border-radius: 50%
			

.catalog

	&-top
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 25px

	&-filters
		display: flex
		align-items: center

		&__select
			display: flex
			align-items: center

			span
				padding-right: 10px



		.jq-selectbox 
			.jq-selectbox__select-text
				padding: 0
				border: 0
				font-weight: 600
				color: #0D61AF
				border-bottom: 1px dashed
				border-radius: 0

				&:hover
					cursor: pointer

				&::after
					right: -15px
					top: 7px
					border-color: #0D61AF

			&.opened
				.jq-selectbox__select-text
					&::after
						transform: rotate(-45deg)

		.jq-selectbox__dropdown
			top: 24px !important

			ul
				max-height: none !important
				min-width: 260px
				padding: 22px
				background: #FFFFFF
				box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.16)
				border-radius: 0px 6px 6px 6px


				&::-webkit-scrollbar
					width: 0

				li
					padding: 6px 0
					font-family: Exo2
					font-size: 16px
					line-height: 18px

					&:hover
						color: #0D61AF
						cursor: pointer

	&-view
		display: flex

		&__item
			width: 50px
			height: 50px
			display: flex
			align-items: center
			justify-content: center
			margin-left: 10px
			font-size: 30px
			line-height: 30px
			color: #999
			background: #FAFAFA
			border-radius: 6px


			[class^='icon']
				position: relative

				&::after
					content: ''
					border: 3px solid #FAFAFA
					position: absolute
					left: -3px
					right: -3px
					top: -3px
					bottom: -3px
					border-radius: 6px

			&.active, &:hover, &:focus
				background: transparent
				color: #F8B925
				opacity: 1

				[class^='icon']
					&::after
						content: ''
						border: 3px solid #fff

	
	&-item
		display: table-row
		padding-right: 20px

		&__header
			>div
				padding-top: 9px
				padding-bottom: 9px
				font-size: 14px
				line-height: 20px
				font-weight: normal
				background: #FAFAFA
				color: #1A1A1A

		&__wrap
			margin-bottom: 50px
		

			&.list
				display: table
				width: 100%
				margin-bottom: 30px
				border-collapse:separate
				border-spacing: 0 20px
				border-radius: 6px

		>div
			display: table-cell
			vertical-align: middle
			padding-left: 20px
			padding-right: 20px
			border-bottom: 1px solid #E5E5E5
			border-top: 1px solid #E5E5E5

			&:first-child
				padding-left: 0
				border-radius: 6px 0 0 6px
				border-left: 1px solid #E5E5E5

			&:last-child
				border-radius: 0 6px 6px 0
				border-right: 1px solid #E5E5E5
		
		&__wrap

			&.tile
			

				.catalog-item
					padding: 0 0 20px
					display: block
					max-height: 428px
					margin-bottom: 30px
					border: 1px solid #E5E5E5
					border-radius: 6px
					text-align: center

					>div
						display: block
						border: none

						&.catalog-item__img
							width: auto
							padding: 15px

				.catalog-item__cart
					text-align: center

				.catalog-item__name
					margin-bottom: 5px
					white-space: nowrap
					text-overflow: ellipsis
					overflow: hidden

				.catalog-item__price
					margin-bottom: 15px

				.catalog-item__count, .catalog-item__size
					max-width: 170px
					margin: 0 auto 5px
					font-size: 12px
					line-height: 14px
					text-align: left

					span
						display: inline-block
						

						&:first-child
							width: 84px
							color: #808080

		&__img
			position: relative
			width: 220px
			padding: 14px
			text-align: center


		&__icons
			position: absolute
			left: 0
			top: 0
					
			
			&--item
				display: flex
				align-items: center
				justify-content: center
				width: 48px
				height: 48px
				padding: 0 10px
				margin-bottom: 5px
				background: #F8B925
				border-radius: 6px
				font-size: 29px
				color: #fff
				transition: all .3s
				overflow: hidden

				&:hover, &:focus
					color: #fff
					opacity: 1

				&.grey-bg
					display: flex
					width: auto
					max-width: 85px
					height: auto
					background-color: transparent
					margin-bottom: 5px
					padding: 6px
					background: #F0F3F5

					.icon-snowflake
						color: #80C7EA

					>*
						margin-left: 3px
						margin-right: 3px

				&.red-bg
					
					strong
						display: inline-block
						width: 0
						overflow: hidden
						opacity: 0
						font-family: Exo2
						font-style: italic
						font-weight: 900
						font-size: 16px
						line-height: 18px
						letter-spacing: 0.04em
						text-transform: uppercase
						color: #FFFFFF
						text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.25)
						transition: all .3s
						

					&:hover
						width: auto

						strong
							width: auto
							overflow: visible
							opacity: 1
							padding: 0 0 0 15px

				&.gift
					span
						width: 0
						overflow: hidden
						opacity: 0
						font-size: 8px
						color: #000
						font-weight: 600
						text-transform: uppercase
						transition: all .3s
					&:hover
						width: auto
						span
							width: auto
							overflow: visible
							opacity: 1
							padding: 0 0 0 5px


		&__name
			font-weight: 600

		&__size
			font-weight: 600

		&__count
			font-weight: 600

		&__price
			font-size: 20px

			&--old
				position: relative
				font-weight: 600
				font-size: 14px
				line-height: 20px
				color: #4D4D4D
				text-align: right

				span
					position: relative
					display: inline-block

					&::before
						content: ''
						position: absolute
						left: 0
						right: 0
						top: 50%
						height: 1px
						background: $red


			&--current
				font-weight: bold
				font-size: 26px
				line-height: 20px
				color: #FD1C0E
				text-align: right
							
		&__season
			display: inline-flex
			align-items: center
			padding: 8px
			border-radius: 6px
			background: #F0F3F5

			[class^="icon"]
				margin-right: 8px

			.icon-snowflake
				font-size: 32px
				color: #80C7EA

			span
				font-size: 12px
				line-height: 14px
				font-weight: 600

		&__cart
			text-align: right

		&__gift
			position: relative
			margin-top: 15px
			padding: 7px 7px 5px 72px
			background: #F8B925
			border-radius: 6px

			&::before
				content: ''
				position: absolute
				left: 6px
				top: -14px
				width: 61px
				height: 50px
				background: url(../img/catalog-gift.png)

			span
				display: inline-block
				font-weight: 600
				font-size: 10px
				line-height: 12px
				text-transform: uppercase
				color: #000000
				text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.25)
		&__info
			padding-left: 15px


	&-slider
		margin-left: -10px
		margin-right: -10px

		.catalog-item
			margin-left: 10px
			margin-right: 10px

			img
				margin: 0 auto

		&__btn
			display: flex
			justify-content: flex-end
			margin-bottom: 18px
			text-align: right

			button
				width: 50px
				height: 40px
				display: flex
				align-items: center
				justify-content: center
				background: linear-gradient(180deg, #FC9450 0%, #D73514 100%), #C4C4C4
				box-shadow: 0px 3px 0px #BD2111, inset 0px 0px 5px rgba(255, 255, 255, 0.5)
				border-radius: 6px 0px 0px 6px
				font-size: 18px
				color: #fff
				border: none
				outline: none

				&:last-child
					border-radius: 0px 6px 6px 0px

				&:hover, &:focus
					opacity: 1
					background: linear-gradient(180deg, #2A2E36 0%, #1F2228 100%), #C4C4C4
					box-shadow: 0px 2px 0px #000000
















.red-bg
	background: $red

.icon-sunny
	display: inline-block
	width: 32px
	height: 32px
	background: url(../img/sunny.svg) no-repeat center
	background-size: contain

	
.icon-studded
	display: inline-block
	width: 32px
	height: 32px
	background: url(../img/studded.svg) no-repeat center

.icon-gift
	display: inline-block
	width: 32px
	height: 24px
	background: url(../img/gift-icon.png) no-repeat center
	background-size: contain

.plus-minus
	display: inline-flex
	justify-content: space-between
	align-items: center
	width: 200px
	background: #FAFAFA
	border-radius: 54px

	&__btn
		width: 52px
		height: 52px
		display: flex
		align-items: center
		justify-content: center
		border-radius: 50%
		outline: none
		border: none
		background: linear-gradient(180deg, #FC9450 0%, #D73514 100%), #C4C4C4
		box-shadow: 0px 3px 0px #BD2111, inset 0px 0px 5px rgba(255, 255, 255, 0.5)

		&:hover
			opacity: 1
			background: linear-gradient(180deg, #FC9450 0%, #D73514 100%), #C4C4C4
			box-shadow: 0px 3px 0px #BD2111, inset 0px 0px 10px rgba(255, 255, 255, 0.5)
	
		&:focus
			background: linear-gradient(180deg, #FC9450 0%, #D73514 100%), #C4C4C4
			box-shadow: 0px 1px 0px #BD2111


		&:first-child
			background: linear-gradient(180deg, #2A2E36 0%, #1F2228 100%)
			box-shadow: 0px 3px 0px #000000, inset 0px 0px 5px rgba(255, 255, 255, 0.5)

			&:hover
				opacity: 1
				background: linear-gradient(180deg, #2A2E36 0%, #1F2228 100%)
				box-shadow: 0px 3px 0px #000000, inset 0px 0px 10px rgba(255, 255, 255, 0.5)

			&:focus
				background: linear-gradient(180deg, #2A2E36 0%, #1F2228 100%)
				box-shadow: 0px 1px 0px #000000, inset 0px 0px 10px rgba(0, 0, 0, 0.25)

		
			

	&__value
		
		input
			border: none
			outline: none
			display: inline-block
			width: 30px
			font-weight: 600
			color: #000
			background-color: transparent
			font-weight: 600

		span
			font-weight: 600


.pagination
	display: flex
	align-items: center
	justify-content: space-between
	padding-bottom: 50px

	&-page
		list-style: none

		li
			display: inline-block
			margin-right: 20px
			vertical-align: bottom

			a
				display: block
				font-family: Exo2
				font-style: normal
				font-weight: 300
				font-size: 20px
				line-height: 30px
				color: #999999

				&.active
					font-size: 50px
					line-height: 60px
					color: #000
					cursor: default

				&:hover
					color: #F8B925
					opacity: 1

	&-arrow
		display: flex


		&__btn
			width: 50px
			height: 40px
			display: flex
			align-items: center
			justify-content: center
			background: linear-gradient(180deg, #2A2E36 0%, #1F2228 100%), #C4C4C4
			box-shadow: 0px 2px 0px #000000
			
			border-radius: 6px 0px 0px 6px
			font-size: 18px
			color: #fff
			border: none
			outline: none

			&:hover
				opacity: 1
				background: linear-gradient(180deg, #2A2E36 0%, #1F2228 100%)
				box-shadow: 0px 3px 0px #000000, inset 0px 0px 10px rgba(255, 255, 255, 0.5)

			&:focus
				background: linear-gradient(180deg, #2A2E36 0%, #1F2228 100%)
				box-shadow: 0px 1px 0px #000000, inset 0px 0px 10px rgba(0, 0, 0, 0.25)

			&:last-child
				background: linear-gradient(180deg, #FC9450 0%, #D73514 100%), #C4C4C4
				box-shadow: 0px 3px 0px #BD2111, inset 0px 0px 5px rgba(255, 255, 255, 0.5)
				border-radius: 0px 6px 6px 0px

				&:hover
					opacity: 1
					background: linear-gradient(180deg, #FC9450 0%, #D73514 100%), #C4C4C4
					box-shadow: 0px 3px 0px #BD2111, inset 0px 0px 10px rgba(255, 255, 255, 0.5)
				&:focus
					background: linear-gradient(180deg, #FC9450 0%, #D73514 100%), #C4C4C4
					box-shadow: 0px 1px 0px #BD2111
				

				

				
							

.promo

	&-item
		margin-bottom: 30px

		&__img
			img
				display: block

		&__text
			max-width: 318px
			padding: 15px 15px 30px
			background: #FAFAFA
			border-radius: 0 0 6px 6px

		&__header
			margin-bottom: 15px
			font-family: Exo2
			font-weight: bold
			font-size: 18px
			line-height: 22px
			color: #000000

		&__date
			font-size: 14px
			line-height: 16px
			color: #4D4D4D

.color-red
	color: $red


.article


	p
		margin-bottom: 20px
		line-height: 26px

	ul, ol
		padding-left: 15px

		li
			margin-bottom: 20px
			line-height: 26px


.about
	max-width: 1010px

	&-info
		position: relative

		padding: 80px 140px
		margin-bottom: 140px
		background: linear-gradient(90deg, #FAFAFA 0%, #F0F3F5 100%)
		border-radius: 6px

		&::before
			content: '\e90d'
			position: absolute
			left: 30px
			top: 60px
			font-size: 82px
			color: #F8B925
			font-family: icomoon

		&::after
			content: ''
			position: absolute
			right: -114px
			bottom: -58px
			width: 309px
			height: 312px
			background: url(../img/about-bg.png) no-repeat

		p
			margin-bottom: 20px
			font-size: 18px
			line-height: 32px

			&:last-child
				margin-bottom: 0


.partners
	margin-bottom: 90px

	&-item

		&__header
			margin-bottom: 30px
			font-family: Exo2
			font-weight: bold
			font-size: 24px
			line-height: 32px

		&__img
			display: flex

			img
				margin-right: 30px

				&:last-child
					margin-right: 0


.cooperation
	position: relative
	min-height: 250px
	margin-bottom: 100px
	padding: 50px
	background: linear-gradient(90deg, #FAFAFA 0%, #F0F3F5 100%)
	border-radius: 6px

	&::before
		content: ''
		position: absolute
		right: 0
		bottom: -130px
		width: 379px
		height: 379px
		background: url(../img/cooperation-bg.png) no-repeat
		background-size: contain

	.h3
		margin-bottom: 25px

	&-wrap
		display: flex

	&-contact
		position: relative
		padding: 0 0 0 26px
		margin-right: 50px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			font-size: 18px
			color: #1E71F3
			font-family: icomoon

		&__mail
			&::before
				content: '\e908'

		&__tel
			&::before
				content: '\e905'


		a
			display: block
			font-size: 14px
			font-weight: bold

		span
			font-size: 14px
			line-height: 16px
			color: #333

		&:last-child
			margin-right: 0




.storage
	max-width: 900px

	&-wrap
		margin: 70px 0 90px

	&-item
		display: flex
		flex-direction: column
		justify-content: space-between
		min-height: 250px
		padding: 50px 50px 30px
		background: linear-gradient(299.94deg, #FAFAFA 0%, #F0F3F5 100%), #E9EEF0
		border-radius: 6px

		&.align-bottom
			align-items: flex-start
			justify-content: flex-end

		&__text
			font-size: 18px
			line-height: 20px
			font-weight: bold

		img
			position: absolute
			bottom: 0
			right: 0

		.btn
			position: relative
			width: 278px
			padding-left: 15px
			padding-right: 15px
			z-index: 10


.price
	
	.h3
		margin-bottom: 65px

	&-wrap
		padding-bottom: 60px

		&+.price-wrap
			padding-top: 50px
			border-top: 1px solid #EBEBEB

	&-item
		display: flex
		flex-wrap: wrap
		color: #000
		font-weight: bold

		&__header
			margin-bottom: 40px
			align-items: center
			color: #5E5E5E

		&__grey
			color: #808080
			font-weight: 600

		&__col
			width: 25%
			margin-bottom: 12px
			span
				display: inline-block
				padding-right: 5px
				min-width: 80px
				
			

.maps
	display: flex
	align-items: center
	margin-bottom: 80px

	.tabs-nav
		display: block
		width: 320px

		&__item
			font-size: 14px
			line-height: 16px
			padding: 52px
			border-radius: 6px 0px 0px 6px
			cursor: pointer

			strong
				position: relative
				display: block
				margin-bottom: 4px

				&::before
					content: '\e909'
					position: absolute
					left: -22px
					top: 0
					font-family: 'icomoon'
					font-size: 18px
					line-height: 20px
					color: $red

			span
				color: #333



			&.active
				background: linear-gradient(247.34deg, #FAFAFA 0%, #F0F3F5 100%)


	.tabs-wrap
		width: calc(100% - 320px)
		height: 555px
		padding: 0

		.tabs-item
			height: 100%

		iframe
			width: 100%
			height: 100%


.office
	
	.h4
		margin-bottom: 50px
		color: #000
	&-wrap
		display: flex
		align-items: flex-start
		justify-content: space-between

	&-contacts
		position: relative
		margin-right: 30px
		padding-left: 23px
		font-size: 14px
		line-height: 16px

		&::before
			position: absolute
			left: 0
			top: 0
			font-family: 'icomoon'
			font-size: 18px
			line-height: 20px
			color: $red

		strong, a
			display: block
			margin-bottom: 4px
			font-weight: bold

		span
			color: #333

		&__address
			&::before
				content: '\e909'
					
		&__tel

			&::before
				content: '\e905'
				color: #1E71F3

		&__mail
			&::before
				content: '\e908'
				color: #1E71F3

		&__time
			position: relative
			padding: 0 0 0 22px
			font-size: 14px
			line-height: 16px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 14px
				height: 14px
				border-radius: 50%
				border: 1px solid #18BB6C

			&::after
				content: ''
				position: absolute
				left: 4px
				top: 4px
				width: 6px
				height: 6px
				border-radius: 50%
				background: #18BB6C

	&-img
		position: relative
		top: -40px
		display: inline-block



.page-404
	display: flex
	align-items: center
	justify-content: center
	background: #F8B925

	&__wrap
		padding: 50px 0
		text-align: center

		img
			display: block
			margin-bottom: 30px

		.h2
			margin-bottom: 30px
			text-align: center

	&+.footer
		margin: 0


.modal
	display: none
	padding: 32px

	&.fancybox-content
		overflow: visible

	.fancybox-button
		position: absolute
		opacity: 1
		right: -20px
		top: -20px
		width: 50px
		height: 50px
		border-radius: 50%
		padding: 6px
		background: #FAFAFA
		box-shadow: -5px 5px 25px rgba(42, 95, 106, 0.25)

		svg path
			fill: #1E71F3

	&-storage
		max-width: 434px

	.h2
		line-height: 34px

	.h3
		margin-bottom: 20px
		color: #808080

	.btn
		width: 100%


.sidebar-mobile__btn
	display: none


@media only screen and (max-width: 1400px)
	.selection-form 
		.h2
			font-size: 32px


	.content-inner

		.catalog-item__price
			font-size: 16px


	.catalog-item__img
		width: 120px

	.catalog-item__season span
		display: none

	.btn-cart
		padding-right: 62px
		padding-left: 30px

		&::after
			right: 30px













@media only screen and (max-width: 1365px)
	.header
		&-top
			&__tel
				margin-left: 50px

	.main-menu > li > a
		padding: 28px 0

	.home-catalog__item 
		img
			width: 65%

		span
			font-size: 14px

	.selection-form
		.btn
			padding-left: 20px
			padding-right: 20px

		.h2
			font-size: 29px

	.home-catalog__small .home-catalog__item img
		width: 45%

	.catalog-item__season span
		display: none

	.catalog-item__season 
		[class^="icon"]
			margin-right: 0

			&+[class^="icon"]
				margin-left: 8px

	.catalog-item > div
		padding-left: 8px
		padding-right: 8px


	.radio-list li
		margin-right: 25px
















@media only screen and (max-width: 1279px)

	.content-inner
		width: auto
		padding: 0

	.sidebar
		position: fixed
		left: 0
		top: 70px
		width: 320px
		height: calc(100vh - 90px)
		overflow-y: scroll
		z-index: 1

		>*:not(.sidebar-mobile__btn)
			display: none

		.tabs-nav
			justify-content: flex-start

		.tabs-nav li a
			width: 100%
			padding-left: 10px
			padding-right: 10px
			font-size: 14px
			line-height: 16px
			text-align: center

			&:focus
				opacity: 1

		.form-item label
			font-size: 12px

		.jq-selectbox .jq-selectbox__select-text
			padding: 10px 30px 10px 14px
			font-size: 14px

		.tabs-wrap
			padding: 15px

		.tabs-item
			width: 100%

		.form-item
			margin-bottom: 8px

			label
				margin-bottom: 4px

		.btn
			padding: 10px 30px


		&.active
			left: 0
			top: 70px
			z-index: 999
			background: #FAFAFA

			>*:not(.sidebar-mobile__btn)
				display: flex

			.sidebar-item
				display: block

	.amount-wrapper input
		width: 50%

	.sidebar-mobile__btn
		display: block
		outline: none
		border: none
		background-color: transparent


		&:hover, &:focus
			opacity: 1

		span
			position: relative
			display: inline-block
			writing-mode: vertical-rl
			text-orientation: upright
			text-transform: uppercase
			font-size: 10px
			padding-bottom: 10px
			padding: 10px 10px 20px
			background: #fff
			border-radius: 2px
			border: 1px solid $red
			border-left: 0
			z-index: 100

			&::before
				content: '→'
				position: absolute
				left: 0
				bottom: 5px
				font-size: 14px

		&.active
			position: absolute
			right: 0px
			top: -1px
			span
				&::before
					content: '←'

	.cart-item__name
		width: 25%


	.office-wrap
		display: block

	.office-contacts
		margin: 0 0 20px

	.office-img
		top: 0













@media only screen and (max-width: 1199px)
	
	.burger-menu
		display: block

	.main-menu
		display: none

	.header-top__address
		display: none

	.header-top__right
		display: none

	.header
		>.container
			position: relative
			display: flex
			justify-content: space-between
			align-items: center

			&::after
				display: none

			&::before
				width: 30px

		.burger-menu
			position: absolute
			left: 15px
			top: 24px

	.home-catalog__item
		img
			width: auto

	.home-catalog__small .home-catalog__item 
		img
			width: auto

	.catalog-view
		display: none


	.product-filters__form
		flex-wrap: wrap
		justify-content: flex-start

		.form-item
			width: 31%
			margin-right: 15px

	.catalog-item__wrap.list
		display: flex
		flex-wrap: wrap
		justify-content: flex-start
		margin-left: -10px
		margin-right: -10px



		.catalog-item
			width: 31%
			padding: 0 0 20px
			display: block
			margin: 0 10px 30px
			max-height: 428px
			margin-bottom: 30px
			border: 1px solid #E5E5E5
			border-radius: 6px
			text-align: center

			> div
				display: block
				width: auto
				border: none

				.visible-m
					display: inline-block
					min-width: 80px
					color: #808080

				&:first-child
					padding-left: 8px
					border: none

				&.catalog-item__season--wrap
					display: none

			.catalog-item__gift
				display: none

			.catalog-item__name
				margin-bottom: 5px
				white-space: nowrap
				text-overflow: ellipsis
				overflow: hidden

				br
					display: none
			.catalog-item__size, .catalog-item__count
				max-width: 170px
				margin: 0 auto 5px
				font-size: 12px
				line-height: 14px
				text-align: left

			.catalog-item__price
				margin: 10px auto 15px

			.catalog-item__cart
				text-align: center

			.catalog-item__price--current
				text-align: center	
			
			.catalog-item__price--old
				text-align: center



		.catalog-item__header
			display: none


		.btn-cart
			padding-right: 70px

	.content-inner .catalog-item__img
		text-align: center


	.product-info__specifications
		display: block
		
	.product-specifications
		padding: 15px 30px
		width: auto
		border: none

		&:first-child
			border: none
			border-bottom: 1px solid #fff

		&:last-child
			border: none
			border-top: 1px solid #E5E5E5


	.cart
		flex-direction: column-reverse

		&-block
			width: 100%
			padding: 30px 0 0




























@media only screen and (max-width: 991px)
	.selection-form
		max-width: 400px
		margin: 0 auto 30px

	.footer-links__item
		text-align: center

	.catalog-filters
		display: block

		.radio-list
			margin-bottom: 10px

	.catalog-filters__select

		.jq-selectbox
			width: auto

	.catalog-item__wrap
		&.list 
			.catalog-item
				width: 30%

	.product__img-info
		display: block


	.product-info
		padding: 30px 0 0
		width: auto

	.product-content
		display: block

	.product-description
		width: auto
		padding: 0 0 30px

	.product-content__sidebar
		width: auto

	.about-info::after
		display: none

	.about-info
		margin-bottom: 80px

	.partners
		margin-bottom: 50px

		&-item
			margin-bottom: 30px
			text-align: center

			&__img
				justify-content: center


	.cart-item__name
		width: 20%

	.cart-item__price
		text-align: center


	.radio-list li
		margin-bottom: 15px
		margin-right: 15px

























@media only screen and (max-width: 768px)
	
	.header-cart
		&__price
			padding-left: 10px
			padding-right: 10px

			&::before
				display: none

	.header-logo
		max-width: 200px

	.footer-links
		padding: 20px 0 10px

		&__item
			li
				font-size: 14px
				margin-bottom: 5px

	.footer-bottom__wrap
		display: block
		text-align: center

		p
			margin: 10px 0

	.footer-bottom__dev
		justify-content: center

	.home-catalog
		margin-top: 50px
		&__item
			max-width: 320px
			margin: 0 auto 40px

	.catalog-item__wrap.list
		justify-content: space-between
		margin: 0
		.catalog-item
			width: 48%
			margin: 0 0 30px

		.btn-cart
			padding-right: 55px

	.btn-cart
		padding: 15px 55px 15px 35px

		&::after
			right: 23px

	.product-filters__form .form-item
		width: 44%
		margin-bottom: 10px

	.promo.row
		display: flex
		flex-wrap: wrap

		[class^="col"]
			width: 50%

	.article
		img
			display: block
			margin: 0 auto 20px

	.product-info__top
		display: block
		text-align: center

	.product-info__price
		text-align: center
		padding: 0 0 30px

	.product-info__share
		flex-wrap: wrap
		justify-content: center
		margin-bottom: 20px

		>div, .catalog-item__gift
			margin: 0 10px 10px

	.product-description__body
		padding: 20px

		p
			font-size: 14px
			line-height: 22px
			margin-bottom: 15px

	.cooperation::before
		display: none

	.about-info
		padding: 30px 50px

		&::before
			display: none

	.cooperation
		min-height: auto
		margin-bottom: 30px
		padding: 30px 50px


	.promocode
		display: block

		.form-item
			margin-bottom: 15px


	.cart
		
		&-wrap
			display: flex
			justify-content: space-between
			flex-wrap: wrap

		&-item
			display: block
			width: 48%
			padding: 20px 10px 20px
			text-align: center

			&__img
				margin: 0 auto 10px

			&__name
				width: auto

			&__price
				width: auto
				margin-bottom: 10px

			&__btn
				margin: 0 auto 10px

			&__total
				width: auto
				text-align: center

			.plus-minus
				width: 180px

	.order-item
		margin-bottom: 30px

		.h3
			margin-bottom: 20px

		&.order-item__company
			display: block

	.form-item textarea
		height: 160px


	.order-bottom
		display: block

		.btn	
			width: 100%
			margin: 0 0 10px

	.terms

		br
			display: none


	h3, .h3
		font-size: 21px
		line-height: 24px


	.maps
		display: block


		.tabs-nav
			width: auto

			&__item 
				padding: 15px 50px

		.tabs-wrap
			height: 250px
			width: 100%

	.page-404__wrap img
		max-width: 80%
		margin: 0 auto 20px


	.storage-item
		margin-bottom: 50px

	.price-item__col
		font-size: 12px


	.price-item__header
		margin-bottom: 20px

	.price-wrap
		padding-bottom: 30px

		&+ .price-wrap
			padding-top: 30px

	.price-item__col span
		min-width: auto























@media only screen and (max-width: 479px)
	
	.header-cart
		padding: 15px 7px
		height: 44px

		&__price
			padding: 0 5px 0 0
			border: 0
			font-size: 14px

		&__count
			padding: 0
			border: 0
			font-size: 10px

	.header-logo
		max-width: 120px

	.header .burger-menu
		top: 19px

	.selection-form
		padding: 20px

	.selection-form .h2
		font-size: 23px
		line-height: 26px

	.selection-form__subtitle
		font-size: 18px

	.catalog-item__wrap.list .catalog-item
		width: 100%

	.breadcrumbs
		margin: 10px 0 10px

		li
			font-size: 12px
			line-height: 16px

	h1
		margin-bottom: 20px
		font-size: 28px
		line-height: 30px

	.product-filters
		padding: 15px

		&__form
			justify-content: space-between

		.form-item
			margin: 0 0 10px
			width: 48%

			label
				font-size: 12px

		.jq-selectbox .jq-selectbox__select-text
			padding: 10px 30px 10px 14px
			font-size: 12px

			&::after
				top: 39%

		.jq-selectbox .jq-selectbox__dropdown
			top: 42px !important

	.product-models__header
		padding: 8px 20px
		margin-bottom: 20px

		strong
			font-size: 18px

	.product-models__block--item
		font-size: 10px
		padding: 10px 15px

		&::before
			top: 20px
			font-size: 12px

		strong
			padding-right: 10px

	.product-models__info p
		font-size: 12px
		line-height: 20px

	.pagination
		padding-bottom: 20px

	.pagination-page li
		margin-right: 10px

		a
			font-size: 16px

			&.active
				font-size: 30px
				line-height: 40px


	.radio-list
		li
			padding: 5px 0
			margin-right: 10px

		input[type="radio"] + label
			padding: 0 0 0 25px
			font-size: 12px

	.jq-selectbox .jq-selectbox__select-text
		font-size: 14px

	.catalog-filters .jq-selectbox__dropdown ul
		min-width: 170px
		padding: 15px

		li
			padding: 4px 0
			font-size: 12px
			line-height: 14px

	.catalog-filters__select span
		font-size: 14px

	.jq-selectbox .jq-selectbox__dropdown
		top: 44px !important

	.promo.row
		display: block

		[class^="col"]
			width: auto

	.promo-item
		max-width: 318px
		margin: 0 auto 30px

	.section
		h1
			text-align: center

	.sidebar .tabs-wrap
		padding-top: 10px

	.tabs-item .h5
		margin-bottom: 5px
		font-size: 12px


	.product-img
		width: 90%
		margin: 0 auto

	.partners
		margin-bottom: 30px

	.partners-item__img
		display: block

		img
			display: block
			margin: 0 auto 15px

			&:last-child
				margin: 0 auto 0

	.partners-item__header
		margin-bottom: 10px

	.about-info
		margin-bottom: 50px

	.partners-item
		margin-bottom: 40px

	.cooperation-wrap
		flex-direction: column

	.cooperation-contact
		margin: 0 0 30px

		&:last-child
			margin-bottom: 0

	.cart-item
		width: 100%

	.cart-total
		width: auto

		.btn
			.icon-racing
				display: none

	.office .h4
		margin-bottom: 30px

	.maps
		margin-bottom: 30px

	.storage-item
		padding: 0
		margin-bottom: 15px
		background: #fff
		min-height: auto
		img
			display: none

		&__text
			margin-bottom: 20px

			br
				display: none

		.btn
			width: 100%

	.storage-wrap
		margin-top: 50px
		margin-bottom: 50px

	.price .h3
		margin-bottom: 30px


